{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img src="{{produto.imagem.url}}" class="w-100" alt="">
            </div>
            <div class="col-md-5">
                <h1>{{produto.nome}}</h1>
                <p>Preço: R$ {{ produto.discounted_price }}</p>
                <div class="text-center">
                    <form method="post" action="{% url 'carts:add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ produto.id }}">
                        <div class="form-group">
                            <label for="quantity">Quantidade:</label>
                            <input type="number" name="quantity" id="quantity" value="1" min="1" class="form-control" style="width: 80px; display: inline-block;">
                        </div>
                        <button type="submit" class="btn btn-success">Adicionar ao Carrinho</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
